.container {
    text-align: center;
}

p {
    font-size: 1.3em;
}

/* NAVBAR BACKGROUND COLOR OVERRIDE */
.navbar {
    background-color: #6A5496;
}

.contact-me {
    max-width: 38em;
    margin: 0 auto;
}


/* CONTACT FORM SEND BUTTON COLOR OVERRIDE */
.btn-success {
    background-color: #6A5496;
    border-color: #6A5496;
}

.btn-success:hover {
    background-color: #5B4881;
    border-color: #5B4881;
}



#linkedin-logo {
    margin: 0 auto;
    margin-right: 2em;
}

#github-logo {
    margin: 0 auto;
    margin-left: 2em;
}

#linkedin-link {
    text-decoration: none;
}

#github-link {
    text-decoration: none;
}

#e-mail, #github, #linkedin {
    color: #fff;
    text-decoration: underline;
}

#e-mail:hover, #github:hover, #linkedin:hover {
    color: #5B4881;
}