<!-- <div class="form-container">
    <form action=https://getform.io/f/7e24d987-2012-4563-970e-4dfd70d42761 method="POST">

        <fieldset>
            <input placeholder="Your name" type="text" name="name" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Your Email Address" type="email" name="email" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input placeholder="Your Phone Number" type="tel" name="phone" tabindex="3">
        </fieldset>
        <fieldset>
            <textarea placeholder="Type your message here...." tabindex="4" name="message" required></textarea>
        </fieldset>
        <fieldset>
            <button type="submit">Send</button>
        </fieldset>

    </form>
</div> -->

<div class="form-container">  
    <form id="contact" action=https://getform.io/f/7e24d987-2012-4563-970e-4dfd70d42761 method="POST">
      <fieldset>
        <input placeholder="Name" type="text" name="name" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Email Address" type="email" name="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Phone Number (optional)" type="tel" name="phone" tabindex="3">
      </fieldset>
      <fieldset>
        <input placeholder="Web Site (optional)" type="url" name="url" tabindex="4">
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your message here...." tabindex="5" name="message" required></textarea>
      </fieldset>
      <fieldset>
        <button type="submit" id="contact-submit">Send</button>
      </fieldset>
      <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
    </form>
  </div>
